body {
    background-image:radial-gradient(circle, gray, black);
    
    }
  
  .wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:10px;
      padding:10px;
      
  }
  
  .profileimage {
   
    margin-top: 70px;
    content:url("me1.jpg");
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 3px solid purple;
    

  }

  .Bio-text{
      
      font-size: large;
      font-family: 'Courier New', Courier, monospace;
      color:white;
      
     
     
  }
  .Bio-title{
      
      font-size: 3em;
      font-family: 'Courier New', Courier, monospace;
      color:white;
      font-weight: bold;
      text-decoration: underline purple;
     
      
  }
   .video{
       
       margin-top: 50px;
       border-radius: 10%;
       border: 3px solid purple;
       

   }

   .navbar-brand{
       background-image:linear-gradient(45deg, purple, black);
       font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       

   }

   button{
       height:50px;
       background-image: linear-gradient(45deg, purple, black);
       font-size: 20px;
       font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
   }


    .contact{
        color:white;
        font-size:larger;
        font-family: 'Courier New', Courier, monospace;
        font-weight:bold;
    }

    .contact:hover{
        color:purple;
    }

    .sphere{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color:white;
        animation-name: sphere;
        animation-duration: 1s;
        animation-iteration-count:infinite;
        border: 5px solid black;

    }
    @keyframes sphere{
        0% {background-color:white;}
        10% {background-color:rgb(221, 221, 221);}
        20% {background-color:rgb(118, 81, 122);}
        30% {background-color:rgb(110, 54, 124);}
        40% {background-color:rgb(88, 31, 102);}
        50% {background-color:rgb(58, 10, 58);}
        60% {background-color:rgb(88, 31, 102);}
        70% {background-color:rgb(110, 54, 124);}
        80% {background-color:rgb(118, 81, 122);}
        90% {background-color:rgb(221, 221, 221);}
        100% {background-color:white;}
    }

    .icon{
        text-align:center;
        font-size:50px;
        color:black;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top:50px;
        
    }
